.Judul {font-size: 5vh}
.body {padding-right: 20%;padding-left: 20%;
	background-color: lightgrey;
background-image: url("MethylParaben.png");
background-size: fill;}
.paragraf {background-color: #f6f6be; padding-right: 3%;padding-left: 3%;padding-top:3%;padding-bottom:3%;}